

<!--user Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #e9e9e9;">
        <h5 class="modal-title" id="userModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<!--
			<li role="presentation" ng-show="!googleSignedIn && !regularSignedIn && showLogin" ng-class="!googleSignedIn && !regularSignedIn && showLogin ?'active':''"><a href="#login" aria-controls="login" role="tab" data-toggle="tab" target="_self" ng-click="prepareNormalSignIn()">Login</a>
			</li>
			<li role="presentation" ng-show="!googleSignedIn && !regularSignedIn && showSignUp" ng-class="!googleSignedIn && !regularSignedIn && showSignUp ?'active':''"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab" target="_self" ng-click="prepareNormalSignUp()" class="btn-default">Sign Up</a>
			</li>
			-->
			<li role="presentation" ng-show="googleSignedIn || regularSignedIn" class="active" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" target="_self">Profile</a> <!--ng-class="googleSignedIn || regularSignedIn?'active':''"-->
			</li>
			<li role="presentation" ng-show="user.is_course_provider" class=""><a href="#addCourse" aria-controls="addCourse" role="tab" data-toggle="tab" target="_self">Add Course</a>
			</li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			 <!--
			<div role="tabpanel" ng-show="showLogin" ng-class="!googleSignedIn && !regularSignedIn && showLogin ? 'tab-pane active':'tab-pane'" id="login"><user-form login="!googleSignedIn && !regularSignedIn" signup="" profile="" action="homeLogin" user="user"></user-form></div>
			<div role="tabpanel" ng-show="showSignUp" ng-class="!googleSignedIn && !regularSignedIn && showSignUp ? 'tab-pane active':'tab-pane'" id="signup"><user-form login="" signup="!googleSignedIn && !regularSignedIn" profile=""  action="homeRegister" user="user"></user-form></div>
			-->
			<div role="tabpanel" ng-show="googleSignedIn || regularSignedIn" class="tab-pane active"  id="profile"><user-form login="" signup="" profile="'true'" action="homeUpdateProfile" user="userCopy" cancel="restoreUserCopy"></user-form></div> <!--ng-class="googleSignedIn || regularSignedIn? 'tab-pane active':'tab-pane'"-->
			<div role="tabpanel" ng-show="user.is_course_provider" class="tab-pane" id="addCourse"><add-course user="user"></add-course></div>
		  </div>
		  
      </div>
      <div class="modal-footer">
		<div ng-show="UserModalErrorMsg" class="alert alert-danger pull-left" role="alert">
			{{UserModalErrorMsg}}
		</div>
		<button ng-show="!needToCompleteProfile" type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
		<button ng-show="needToCompleteProfile" type="button" class="btn btn-secondary" ng-click="signOut()" data-dismiss="modal">Sign out</button>
      </div>
    </div>
  </div>
</div>


<!--course Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" style="background-color: #e9e9e9;">
		  <h5 class="modal-title" id="courseModalLabel">{{courseModalTitle}}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <course-details course="selectedCourse"></course-details>
		</div>
		
	  </div>
	</div>
  </div>

  <!--sign in/up modal -->
<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 100%;max-width:430px;" role="document">
	  <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="signModalLabel">Sign In/Up</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <!--checkvalue="homeControllerScopeValue"-->
		<user-sign user="user"  errormessage="ucModel.signInUpError" login="homeLogin" register="homeRegister"></user-sign>
		<!--
		<div class="modal-body">
		  
		</div>
		-->
	  </div>
	</div>
  </div>
  
<!--header-top start -->
  		<!--make sure z-index:-1  not messing pointer cursor or any styling -->
		<header id="header-top" class="header-top" style="z-index:-1;height: 60px;background-color: #e9e9e9;"> 
			<ul>
				<li class="head-responsive-right">
					<div class="header-top-right" style="color: black;">
						<ul>
							<li class="header-top-contact" style="color: black;" ng-show="!googleSignedIn && !regularSignedIn">
								<a href="" data-toggle="modal"  data-target="#signModal" ng-click="prepareNormalSignUp()">Sign In / Up</a> <!--data-target="#userModal"-->
							</li>
							<!--
							<li class="header-top-contact" style="color: black;" ng-show="!googleSignedIn && !regularSignedIn">
								<a href="" data-toggle="modal" data-target="#userModal" ng-click="prepareNormalSignIn()">Log In</a>
							</li>
							-->
							<li class="header-top-contact" ng-show="googleSignedIn || regularSignedIn">
								<div class="dropdown">
									<button ng-show="googleSignedIn || regularSignedIn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
									 <!--Dropdown <span class="caret"></span>-->
									 <!--<i class="flaticon-list-with-dots" ng-show="!googleSignedIn && !regularSignedIn"></i>-->
									 <span><i class="fa fa-user"></i>  {{userName}}</span>
									</button>
									<ul class="dropdown-menu">
										<li ng-show="googleSignedIn || regularSignedIn"><a href=""  data-toggle="modal" data-target="#userModal">Profile</a></li>
									  <li ng-show="googleSignedIn || regularSignedIn"><a href="" ng-click="signOut()">Sign-out</a></li>
									</ul>
								  </div>
							</li>
							<!--
							<li class="header-top-contact alert-success">Welcome! signed-in user will probably get more accurate result
							</li>
							-->
							<li class="header-top-contact">
								
								  
								<div>
									<form>
										<select  style="color:black;text-align-last:center;" name="" id="selectTopic3"  ng-model="selectedTopic" ng-options="topic for topic in topics | orderBy:'' track by topic">
											<option disabled selected value> -- get courses by subject -- </option>
										</select>
										<button title="search courses by subject" ng-click="searchCourseByTopic()"><i class="fa fa-search" style="font-size: 20px;"></i></button>
									</form>
								</div>
								
							</li>
						</ul>
					</div>
				</li>
			</ul>

		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">
						<!-- Button trigger modal -->

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="index.html">Decides<span>ForYou</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

						<!-- Collect the nav links, forms, and other content for toggling -->
						<!--
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
			                    <li class=" scroll active"><a href="#home">home</a></li>
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                </ul><!- -/.nav - ->
						</div><!- - /.navbar-collapse - ->
						-->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero" > <!--add? style="height: 500px;"-->
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Get Course Recommendation <br> By one click </h2> <a ng-show="!googleSignedIn && !regularSignedIn" href="" data-toggle="modal"  data-target="#signModal" ng-click="prepareNormalSignUp()"  style="color: white;">(but first, sign up)</a>
				</div>
				<div class="welcome-hero-serch-box" style="margin: auto;width: 100%;">
					<div ng-show="needToCompleteProfile" class="welcome-hero-serch" style="margin: auto" >
						you must complete filling profile details before
					</div>


					<!--style="margin: auto;width: 50%;">-->
					<div ng-show="(googleSignedIn || regularSignedIn) && !needToCompleteProfile && !user.is_course_provider" class="welcome-hero-serch" style="margin: auto" >
						<button class="welcome-hero-btn" ng-click="searchCourseByUser()" ng-show="!isLoading">
							 Get Recommendations    <span class="glyphicon glyphicon-search"></span><i data-feather="search"></i>
						</button>
						<!--<img src="./img/Spinner-1s-64px.gif" ng-show="isLoading">-->
						<div class="lds-roller" ng-show="isLoading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
					</div>
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->


		<section id="coursesList">
				<table class="table table-responsive" style="background-color:darkslategray; color:whitesmoke" >
					<!--<caption><h2>Courses</h2></caption>-->
				  <thead>
					<tr>
					  	<th scope="col">#</th>
					  	<th scope="col">Title</th>
					  	<th scope="col">Description</th>
					  	<th scope="col">Main Topics</th>
						<th scope="col">Id</th>
					</tr>
				  </thead>
				  <tbody>
					<tr ng-repeat="course in resultCourses" class="course-row" ng-click="openCourseDetails(this)">
						<th scope="row">{{course["ordNum"]}}</th>
						<td>{{course["course_title"]}}</td>
						<td>
							<div>
								<span >{{course["descriptionText"]}}</span>								
								<span class="more" ng-show="!course.showMore && course.lessDescription" ng-click="toggleMore($event,this)">more...</span> <!--{{course["description"]}}-->
								<span class="more" ng-show="course.showMore && course.lessDescription" ng-click="toggleMore($event,this)">less...</span> <!--{{course["description"]}}-->
							</div>
							</td> 
						<td>{{course["topics"]}}</td>
						<td>{{course["course_number"]}}</td>
					</tr>
				  </tbody>
				</table>
		</section>




		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="navbar-brand" href="index.html">Decides<span>ForYou</span></a>
				            </div><!--/.navbar-header-->
						   </div>
						<!--
			           	<div class="col-sm-9">
			           		<ul class="footer-menu-item">
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                    <li class=" scroll"><a href="#contact">my account</a></li>
			                </ul><!- -/.nav - ->
						   </div>
						-->
		           </div>
				</div>

			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>

			</div><!--/.scroll-Top-->

        </footer><!--/.footer-->
		<!--footer end-->
