

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--header-top start -->
		<header id="header-top" class="header-top" style="height: 60px;"> 
			<ul>
				<li class="head-responsive-right pull-right">
					<div class="header-top-right">
						<ul>
							<li class="header-top-contact" ng-show="!googleSignedIn && !regularSignedIn">
								<a href="#register">register</a>
							</li>
							
							<li class="header-top-contact">
								
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
									 <!--Dropdown <span class="caret"></span>-->
									 <i class="flaticon-list-with-dots" ng-show="!googleSignedIn && !regularSignedIn"></i>
									 <span ng-show="googleSignedIn || regularSignedIn">{{userName}}</span>
									</button>
									<ul class="dropdown-menu">
									  <li ng-show="googleSignedIn"><a href="" ng-click="signOut()">Sign-out</a></li>
									  <!--<li><a href="#">Another action</a></li>-->
									  <li ng-show="!googleSignedIn && !regularSignedIn"><a href="#">sign in (with password)</a></li>
									</ul>
								  </div>
								<!--
								<button type="button" data-toggle="modal" data-target="#exampleModal">
									Launch demo modal
								  </button>
								  -->
							</li>
							
						</ul>
					</div>
				</li>
			</ul>

		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">
						<!-- Button trigger modal -->

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="index.html">Decides<span>ForYou</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
			                    <li class=" scroll active"><a href="#home">home</a></li>
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                </ul><!--/.nav -->
			            </div><!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Get Course Recommendation <br> By one click </h2>
					<p>
						Get Course Recommendation in just One click
					</p>
				</div>
				<div class="welcome-hero-serch-box">
					<div class="welcome-hero-form">
						<div class="single-welcome-hero-form">
							<h3>subject</h3>

							<form action="index.html">
								<!--<input type="text" placeholder="Ex: palce, resturent, food, automobile" />-->
								<select class="select-opt" name="" id="selectTopic3" style="color:black;" ng-model="selectedTopic" ng-options="topic for topic in topics | orderBy:'' track by topic"> <!--topic.name for topic in topics-->

								</select>
							</form>
							<div class="welcome-hero-form-icon">
								<i class="flaticon-list-with-dots"></i>
							</div>

						</div>
						<div class="single-welcome-hero-form">
							<h3>user id</h3>
							<form>
								<input type="text" placeholder="" ng-model="inputUserId"/>
							</form>
							<!--
							<div class="welcome-hero-form-icon">
								<i class="flaticon-gps-fixed-indicator"></i>
							</div>
							-->
						</div>
					</div>
					<div class="welcome-hero-serch">
						<button class="welcome-hero-btn" ng-click="searchCourses()" ng-show="!isLoading">
							 search courses  <i data-feather="search"></i>
						</button>
						<!--<img src="./img/Spinner-1s-64px.gif" ng-show="isLoading">-->
						<div class="lds-roller" ng-show="isLoading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
					</div>
				</div>
				<!--
				<div class="welcome-hero-serch-box">
					<div class="welcome-hero-form">
						<div class="single-welcome-hero-form">
							<select class="select-opt" name="" id="selectSubj" style="color:darkgreen ;">
								<option value="volvo">Volvo</option>
								<option value="saab">Saab</option>
								<option value="mercedes">Mercedes</option>
								<option value="audi">Audi</option>
							</select>
						</div>
						<div class="single-welcome-hero-form">
							<select class="select-opt" name="" id="selectSubj2	" style="color:darkgreen ;">
								<option value="volvo">Volvo</option>
								<option value="saab">Saab</option>
								<option value="mercedes">Mercedes</option>
								<option value="audi">Audi</option>
							</select>
						</div>
						<div class="welcome-hero-serch">
							<button class="welcome-hero-btn" onclick="window.location.href='#'">
								 search  <i data-feather="search"></i>
							</button>
						</div>
					</div>
				</div>
				-->
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->


		<section id="coursesList">
				<table class="table table-dark">
					<!--<caption><h2>Courses</h2></caption>-->
				  <thead>
					<tr>
					  	<th scope="col">#</th>
					  	<th scope="col">Title</th>
					  	<th scope="col">Description</th>
					  	<th scope="col">Main Topics</th>
						<th scope="col">Id</th>
					</tr>
				  </thead>
				  <tbody>
					<tr ng-repeat="course in resultCourses">
						<th scope="row">1</th>
						<td>{{course["course_title"]}}</td>
						<td>{{course["description"]}}</td>
						<td>{{course["topics"]}}</td>
						<td>{{course["course_number"]}}</td>
					</tr>
				  </tbody>
				</table>
		</section>



		<!-- statistics strat -->
		<section id="statistics"  class="statistics">
			<div class="container">
				<div class="statistics-counter">
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">90 </div> <span>K+</span>
							</div><!--/.statistics-content-->
							<h3>listings</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">40</div> <span>k+</span>
							</div><!--/.statistics-content-->
							<h3>listing categories</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">65</div> <span>k+</span>
							</div><!--/.statistics-content-->
							<h3>visitors</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">50</div> <span>k+</span>
							</div><!--/.statistics-content-->
							<h3>happy clients</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
				</div><!--/.statistics-counter-->
			</div><!--/.container-->

		</section><!--/.counter-->
		<!-- statistics end -->


		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="navbar-brand" href="index.html">Decides<span>ForYou</span></a>
				            </div><!--/.navbar-header-->
			           	</div>
			           	<div class="col-sm-9">
			           		<ul class="footer-menu-item">
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                    <li class=" scroll"><a href="#contact">my account</a></li>
			                </ul><!--/.nav -->
			           	</div>
		           </div>
				</div>

			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>

			</div><!--/.scroll-Top-->

        </footer><!--/.footer-->
		<!--footer end-->
