<form style="color: black;">
<div class="form-group">
  <label for="courseInstitution">Institution name</label>
  <input type="text" id=courseInstitution ng-model="newCourse.institution" class="form-control"  aria-describedby="Institution name" placeholder="Enter the institution name"" />
</div>

  <div class="form-group">
    <label for="courseTitle">Course Title</label>
    <input type="text" id=courseTitle ng-model="newCourse.title" class="form-control"  aria-describedby="Course title" placeholder="Enter course title"
    onkeypress="return isKeyEnglishLng(event.charCode)" />
  </div>
  <div class="form-group">
    <label for="courseDescription">Course Description</label>
  <textarea class="form-control" style="resize:vertical" ng-model="newCourse.description" id="courseDescription" rows="3"
    onkeypress="return isKeyEnglishLng(event.charCode)">
  </textarea>
  </div>

  <div class="form-group">
    <label for="courseUrl">Course Link</label>
    <input type="text" id=courseUrl ng-model="newCourse.web_link" class="form-control"  aria-describedby="Course web link" placeholder="Enter course web link"
    ng-blur="checkUrl()" />
    <div ng-show="urlErrorMessage" class="alert alert-danger pull-left" role="alert">
      {{urlErrorMessage}}
    </div>
  </div>
  
  <div class="form-group">
    <label for="courseTopics">Course Subjects</label>
    <input type="text" list="topics" ng-model="selectedTopic" 
    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" />
    <datalist id="topics">
      <option ng-repeat="topic in topicList" value="{{topic}}"></option>
    </datalist>
    <button ng-disabled="newCourseTopics && newCourseTopics.length>=3" class="btn btn-success"  style="margin-bottom: 10px;" ng-click="addTopic()"><span class="glyphicon glyphicon-plus"></span></button>
    <ul class="removable" >
      <li ng-repeat="topic in newCourseTopics" class="removable">
        {{topic}}
        <span class="remove-item" ng-click="removeTopic(this)">&times;</span>
      </li>
    </ul>
  </div>
  

  
  <div ng-show="errorMsg" class="alert alert-danger pull-left" role="alert">
    {{errorMsg}}
  </div>
  <button type="submit" class="btn btn-primary btn-block" ng-click="addNewCourse()">Add Course</button>
  
  
</form>