<div class="container">
	<div class="row">
    	 <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius: 16px;">
                        <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <h5 style="text-align:center;"><strong id="courseName">{{course.course_title}}</strong></h5> <!--Visualizing Japan (1850s-1930s): Westernization, Protest, Modernity-->
                                <p style="text-align:center;font-size: smaller;" id="courseId">{{course.course_number+", " +course.institution}} </p>
                                <p ng-show="course.web_link" style="text-align:center;font-size: smaller;">
                                    <a target="_blank" style="font-size: small;text-decoration: underline;color: #337ab7;" 
                                        href="{{course.web_link}}">click to apply
                                    </a>
                                </p>
                                <br>
                                <p style="text-align:center;font-size: smaller;"><strong>Instructors</strong></p>
                                <p style="text-align:center;font-size: smaller;" id="Instructors">{{course.Instructors? course.Instructors: "?"}}</p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>

                                <p style="text-align:center;font-size: smaller;">
                                    <strong>Honor Code Certificates: 
                                        <span ng-show="!isNullOrUndefined(course.honor_code_certificates) && !course.honor_code_certificates" style='font-size:20px;'>&#10060;</span>
                                        <span ng-show="course.honor_code_certificates" style='font-size:20px;'>&#10004;</span>
                                        <span ng-show="isNullOrUndefined(course.honor_code_certificates)" style='font-size:20px;'>?</span>
                                    </strong>
                                </p>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                
                                <p style="text-align:center;font-size: smaller;"><strong>Total Course Hours (Thousands)</strong></p>
                                <p style="text-align:center;font-size: smaller;" id="total-hours">{{course.total_course_hours_thousands ? course.total_course_hours_thousands: "?"}}</p>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                <div class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
                                        <h4><p style="text-align: center;"><strong id="user-globe-rank">{{course.participants_course_content_accessed ? course.participants_course_content_accessed : "?"}} </strong></p></h4>           
                                        <p><small class="label label-success">Participants</small></p>
                                        <!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
                                </div>
                                <div class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
                                        <h4><p style="text-align: center;"><strong id="user-college-rank">{{course.certified_percent+" %"}} </strong></p></h4>                   
                                        <p> <small class="label label-warning">Certified</small></p>
                                        <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                                </div>

                                <div ng-show="!course.gender" class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
                                    <h4><p style="text-align: center;"><strong id="user-college-rank">{{course.male_percent+" %"}} </strong></p></h4>                   
                                    <p> <small class="label label-info">Male</small></p>
                                    <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                                </div>
                                <div ng-show="(!course.gender && course.gender!==0) || course.gender===1" class="col-lg-6" style="text-align:center;overflow-wrap: break-word;">
                                    <h4><p style="text-align: center;"><strong id="user-college-rank">{{course.female_percent+" %"}} </strong></p></h4>                   
                                    <p> <small class="label label-info">Female</small></p>
                                    <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                                </div>

                                <div class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
                                    <h4><p style="text-align: center;"><strong id="user-globe-rank">{{course.bachelors_or_higher_percent +" %"}} </strong></p></h4>           
                                    <p><small class="label label-danger">Bachelor's Degree or Higher</small></p>
                                    <!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
                                </div>
                               
                                
                                <div class="col-lg-12 center" style="text-align:center;overflow-wrap: break-word;">
                                    <details>
                                        <summary>
                                            <span class="summary-title"><p style="text-align:center;font-size: x-large;"><strong>Description</strong></p></span>
                                            <div class="summary-chevron-up">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                            </div>
                                        </summary>
                                    
                                        <div class="summary-content"><p style="text-align:center;font-size: large;overflow-wrap: break-word;" id="user-email">{{course.description}}</p></div>
                                        <div class="summary-chevron-down">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                        </div>   
                                    </details>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
        