<form style="color: black;">
    <div class="form-group" ng-show="!profile">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" ng-model="user.email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
    </div>
    <input ng-show="login" ng-model="user.userid_DI" placeholder="userid_DI">
    <div class="form-group" ng-show="!profile">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
    </div>

    <div ng-show="!profile" class="row">
      <div class="col-md-3">
        <a class="btn btn-outline-dark" ng-click="triggerGoogleSign()" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Login with Google
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="userName">Pick a User Name</label>
      <input type="text" class="form-control" ng-model="user.user_name" placeholder="user name">
    </div>
    <div ng-show="profile && !user.is_course_provider">
      <div class="form-group">
        <label for="" >Gender</label><br>
        <label class="radiocontainer">Male
          <input type="radio" ng-model="user.gender" checked="checked" name="gender" ng-value="0">
          <span class="checkmark"></span>
        </label>
        <label class="radiocontainer">Female
          <input type="radio" ng-model="user.gender" name="gender" ng-value="1">
          <span class="checkmark"></span>
        </label>

      </div>
      <div class="form-group">
        <label for="countrySelection">Select your country</label>
        </br>
        <div class="box">
          <select name="" style="font-size: 14px;" ng-model="user.country_id" ng-options="country.id as country.name for country in countries | orderBy:'name'">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="YOB">Select year of birth</label>
        </br>
        <div class="box">
          <select name="" style="font-size: 14px;" ng-model="user.YOB" ng-options="year for year in yobs | orderBy:''">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="educationSelection">Select education</label>
        </br>
        <div class="box">
          <select name="" style="font-size: 14px;" ng-model="user.education" ng-options="ed.Value as ed.Name for ed in educations | orderBy:'Value'">
          </select>
        </div>
      </div>
      
      
      <div class="form-group">
        <label for="courseSelection">Select courses you took in the past</label>
        <div style="overflow-x: scroll;">
          <select class="select-opt" name="" style="color:black;" ng-model="selectedCourse" ng-options="course.Course_Title for course in courses | orderBy:'' track by course.course_number">
          </select>
        </div>
        <button class="btn btn-success" style="margin-bottom: 10px;" ng-click="addCourse()"><span class="glyphicon glyphicon-plus"></span></button>
        </button>
        <p>
          <!---->
          <h4 data-toggle="collapse" style="cursor: pointer;" data-target="#collapseCoursesTbl" aria-expanded="false" aria-controls="collapseCoursesTbl">{{user.user_courses.length>0 ? "Your Courses": "no courses"}} <i class="fa fa-bars"></i></h4>
          <!--
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCoursesTbl" aria-expanded="false" aria-controls="collapseCoursesTbl">
            Your Courses
          </button>
          -->
        </p>
        <!--make sure id of collapse not in other places...-->
        <div class="collapse" id="collapseCoursesTbl">
          <div class="card card-body">
            <div ng-class="user.user_courses.length>4 ? 'scroll-div':''" ng-show="user.user_courses">
              <!--
              <h4>{{user.user_courses.length>0 ? "Your Courses": "no courses"}}</h4>
              -->
              <br>
              <table id="myTable">
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                </tr>
                <tr ng-repeat="course in user.user_courses">
                  <td>{{getCourse(course)["Course_Title"]}}</td>
                  <td>{{getCourse(course)["Description"]}}</td>
                  <td class="remove" ng-click="removeCourse(this)" title="remove course" style="cursor: pointer;"><span style='font-size:20px;'>&#10060;</span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
            
      </div>
    </div>
      
    
    <!--
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" >
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    -->
    <br>
    <hr>
    <button type="submit" class="btn btn-primary" ng-click="doAction()">{{actionText}}</button>
    <button type="submit" class="btn btn-secondary" ng-click="cancel()()">reset</button>
    
</form>